<form class="form-horizontal">

<div *ngFor="let s of option.settings">
  <app-colorpick *ngIf="s.type === 'Color'" [element] = "s"></app-colorpick>
  <app-numberfield *ngIf="s.type === 'Integer'" [element] = "s"></app-numberfield>
  <app-textfield *ngIf="s.type == 'Text'" [element] = "s"></app-textfield>
  <app-line-style *ngIf="s.type == 'LineStyle'" [element] = "s"></app-line-style>
  <app-font *ngIf="s.type == 'Font'" [element] = "s"></app-font>
  <app-position *ngIf="s.type == 'Position'" [element] = "s"></app-position>
  <!-- <app-boolean *ngIf="s.type == 'Boolean'" [element] = "s"></app-boolean> -->
  <app-textfield *ngIf="s.type == 'Boolean'" [element] = "s"></app-textfield>
</div>

</form>