<form class="form-horizontal">

<div *ngFor="let s of option.settings">
  <app-colorpick *ngIf="s.type === 'Color'" [formEl] = "s" [el] = "element"></app-colorpick>
  <app-numberfield *ngIf="s.type === 'Integer'" [formEl] = "s" [el] = "element"></app-numberfield>
  <app-textfield *ngIf="s.type == 'Text'" [formEl] = "s" [el] = "element"></app-textfield>
  <app-line-style *ngIf="s.type == 'LineStyle'" [formEl] = "s" [el] = "element"></app-line-style>
  <app-font *ngIf="s.type == 'Font'" [formEl] = "s" [el] = "element"></app-font>
  <app-position *ngIf="s.type == 'Position'" [formEl] = "s" [el] = "element"></app-position>
  <!-- <app-boolean *ngIf="s.type == 'Boolean'" [formEl] = "s" [el] = "element"></app-boolean> -->
  <app-textfield *ngIf="s.type == 'Boolean'" [formEl] = "s" [el] = "element"></app-textfield>
</div>

</form>