<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">name:</th>
      <th scope="col">value:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>tagName</td>
      <td>{{data.tagName}}</td>
    </tr>
    <tr>
      <td>color:</td>
      <td>{{data.color}}</td>
    </tr>
    <tr>
      <td>font-size::</td>
      <td>{{data.fontSize}} px</td>
    </tr>
    <tr>
      <td>font-weight:</td>
      <td>{{data.fontWeight}}</td>
    </tr>
    <tr>
      <td>padding:</td>
      <td>{{data.padding}} px</td>
    </tr>
    <tr>
      <td>height:</td>
      <td>{{data.height}} px</td>
    </tr>
    <tr>
      <td>width:</td>
      <td>{{data.width}} px</td>
    </tr>
    <tr>
      <td>background-color:</td>
      <td>{{data.backgroundColor}}</td>
    </tr>
    <tr>
      <td>border-width</td>
      <td>{{data.borderWidth}} px</td>
    </tr>
    <tr>
      <td>border-radius:</td>
      <td>{{data.borderRadius}} px</td>
    </tr>
  </tbody>
</table>
