<div class="form-group" *ngIf="!el._id">
  <label for="ls" class="col-sm-4 col-form-label">{{formEl.title}}</label>
  <select id="ls" class="form-control"  name="formEl.title" [(ngModel)]="formEl.defaultValue" >
    <option  *ngFor="let s of styles" [ngValue]="s">{{s}}</option>
  </select>
</div>

<div class="form-group" *ngIf="el._id">
  <label for="ls" class="col-sm-4 col-form-label">{{formEl.title}}</label>
  <select id="ls" class="form-control"  name="formEl.title" [(ngModel)]="el.settings[formEl.name]" >
    <option  *ngFor="let s of styles" [ngValue]="s">{{s}}</option>
  </select>
</div>